body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(10, 10, 10);
    font-family: monospace;
    font-size: 16px;
    display: flex;
    color: #f3f7bb;
    flex-direction: column;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

#topContainer {
    margin-top: 2em;
    padding-left: 1em;
}

#bottomContainer > * {
    text-align: center;
}
